body {
    background-image: url('Images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#map {
    height: 500px;
}

.flightsTable {
    height: 400px;
}
